@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.text {
  color: inherit;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  &-weight-normal {
    font-weight: 400;
  }

  &-weight-medium {
    font-weight: 500;
  }

  &-weight-bold {
    font-weight: 700;
  }

  &-color-primary {
    color: $text-primary;
  }

  &-color-secondary {
    color: $text-secondary;
  }

  &-color-accent {
    color: $brand;
  }

  &-view-title {
    @include adaptive-font(24, 32);
    @include adaptive-lh(30, 40);
  }

  &-view-button {
    @include adaptive-font(16, 18);
    @include adaptive-lh(16, 18);
  }

  &-view-p20 {
    @include adaptive-font(18, 20);
    @include adaptive-lh(22, 24);
  }

  &-view-p18 {
    @include adaptive-font(16, 18);
    @include adaptive-lh(20, 22);
  }

  &-view-p16 {
    @include adaptive-font(14, 16);
    @include adaptive-lh(18, 20);
  }

  &-view-p14 {
    font-size: 14px;
    line-height: 18px;
  }
}