@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/functions' as f;

.product-detail {
  @include container-asymmetric;

  display: flex;
  flex-direction: column;
  justify-content: center;
  @include adaptive-margin-vertical(60, 160);

  .product-body {
    display: flex;
    flex-direction: column;
    gap: $space-xl;
  }
}

.loader-wrapper {
  @include container-layout;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}