@use '@styles/variables' as *;
@use '@styles/functions' as f;

.cart-item {
  display: flex;
  gap: $space-m;
  padding: $space-m;
  border-bottom: 1px solid $line-color;
  cursor: pointer;
  align-items: center;

  &-image {
    object-fit: cover;
    border-radius: $border-radius;
    flex-shrink: 0;
  }

  &-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $space-xxs;
  }

  &-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: $space-s;
  }
}