@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.input-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: $input-bg;
  border: 1px solid $input-border;
  border-radius: $border-radius;
  padding: 0;
  height: 52px;
  cursor: pointer;

  @include adaptive-font(14, 16);
  @include adaptive-lh(18, 20);

  &-field {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
    padding: $space-s $space-xs;
    font-size: inherit;
    line-height: inherit;
    color: $input-text;
    cursor: inherit;

    &::placeholder {
      color: $input-placeholder;
    }

    &:disabled {
      color: $input-text-disabled;
      cursor: not-allowed;
    }
  }

  &:focus-within {
    border-color: $brand;
  }

  &-disabled {
    background-color: $input-bg-disabled;
    border-color: $input-border-disabled;
    cursor: not-allowed;
  }

  &-after {
    display: flex;
    align-items: center;
    margin-left: $space-xxs;
    margin-right: $space-xs;
    cursor: inherit;

    * {
      cursor: inherit;
    }
  }
}