@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/functions' as f;

$container-width: 1240px;

.product-page {
  width: 100%;
  overflow: visible;

  .info-product {
    max-width: 653px;
    margin: f.rem(100) auto f.rem(50);
    min-height: auto;
  }

  .search-product {
    @include container-layout;
    display: flex;
    flex-direction: column;

    .search {
      margin-bottom: f.rem(35);
    }

    .list-wrapper {
      width: 100%;
    }
  }
}

.virtualized-list {
  outline: none;
}