@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.search {
  display: flex;
  flex-direction: column;
  gap: $space-m;

  &-and-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $space-m;
  }

  &-product {
    display: flex;
    flex-direction: row;
    gap: $space-m;
  }

  &-input {
    width: 100%;
    height: 100%;
  }

  &-button {
    margin: auto;
  }

  &-filter {
    width: 100%;
    max-width: 300px;
  }

  &-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-m;
  }

  &-text-total {
    @include adaptive-font(24, 32);
    @include adaptive-lh(28, 36);
  }

  &-number {
  }
}