$shadow: var(--shadow);

$brand: var(--brand);
$brand-hover: var(--brand-hover);
$brand-active: var(--brand-active);

$loader-bg: var(--loader-bg);

$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-accent: var(--text-accent);

$button-primary-text: var(--button-primary-text);
$button-primary-text-hover: var(--button-primary-text-hover);
$button-primary-text-disabled: var(--button-primary-text-disabled);
$button-primary-text-active: var(--button-primary-text-active);
$button-primary-bg: var(--button-primary-bg);
$button-primary-bg-hover: var(--button-primary-bg-hover);
$button-primary-bg-disabled: var(--button-primary-bg-disabled);
$button-primary-bg-active: var(--button-primary-bg-active);

$card-bg: var(--card-bg);
$card-image-bg: var(--card-image-bg);

$input-text: var(--input-text);
$input-text-focus: var(--input-text-focus);
$input-bg: var(--input-bg);
$input-placeholder: var(--input-placeholder);
$input-border: var(--input-border);
$input-bg-focus: var(--input-bg-focus);
$input-border-focus: var(--input-border-focus);
$input-bg-disabled: var(--input-bg-disabled);
$input-border-disabled: var(--input-border-disabled);
$input-text-disabled: var(--input-text-disabled);

$dropdown-options-bg: var(--dropdown-options-bg);

$checkbox-bg: var(--checkbox-bg);
$checkbox-border: var(--checkbox-border);
$checkbox-border-hover: var(--checkbox-border-hover);
$checkbox-bg-disabled: var(--checkbox-bg-disabled);
$checkbox-border-disabled: var(--checkbox-border-disabled);
$checkbox-check-disabled: var(--checkbox-check-disabled);

$screen--color: var(--screen-color);
$line-color: var(--line-color);

$space-xl: 48px;
$space-l: 32px;
$space-m: 24px;
$space-s: 16px;
$space-xs: 12px;
$space-xxs: 8px;

$border-radius: 0;