$shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

$brand: #518581;
$brand-hover: #86aaa7;
$brand-active: #487773;

$loader-bg: $brand;

$text-primary: #000000;
$text-secondary: #afadb5;
$text-accent: #518581;

$button-primary-text: #ffffff;
$button-primary-text-hover: #ffffff;
$button-primary-text-disabled: #ffffff;
$button-primary-text-active: #ffffff;
$button-primary-bg: $brand;
$button-primary-bg-hover: $brand-hover;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-bg-active: $brand-active;

$card-bg: #ffffff;
$card-image-bg: #d9d9d9;

$input-text: #000000;
$input-text-focus: #000000;
$input-bg: #ffffff;
$input-placeholder: #afadb5;
$input-border: #ffffff;
$input-bg-focus: #ffffff;
$input-border-focus: $brand;
$input-bg-disabled: #ffffff;
$input-border-disabled: #ffffff;
$input-text-disabled: rgba(0, 0, 0, 0.2);

$dropdown-options-bg: #ffffff;

$checkbox-bg: #ffffff;
$checkbox-border: #ffffff;
$checkbox-border-hover: $brand;
$checkbox-bg-disabled: rgba(255, 255, 255, 0.5);
$checkbox-border-disabled: rgba(255, 255, 255, 0);
$checkbox-check-disabled: rgba(0, 0, 0, 0.2);

$screen--color: #FFFFFF;
$line-color: #F3F3F3;

$space-xl: 48px;
$space-l: 32px;
$space-m: 24px;
$space-s: 16px;
$space-xs: 12px;
$space-xxs: 8px;

$border-radius: 0;