@use '@styles/variables' as *;

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-m;

  min-height: 100vh;

  .retry-button {
    text-decoration: none;
  }
}