@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.checkbox-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;

  @include adaptive-value("width", 20, 24);
  @include adaptive-value("height", 20, 24);

  &-disabled {
    .checkbox-custom {
      background-color: $checkbox-bg-disabled;
      border: $checkbox-border-disabled;
      border-radius: $border-radius;
      width: 100%;
      height: 100%;
    }

    .checkbox-icon {
      color: $checkbox-check-disabled;
    }
  }

  &:not(&Disabled):hover {
    .checkboxCustom {
      border: 1px solid $brand;
    }
  }
}

.checkboxCustom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $checkbox-bg;
  border: 1px solid $brand;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.checkboxInput {
  appearance: none;
  -webkit-appearance: none;
}

.checkboxIcon {
  margin: -1px;
}