@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.action-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.button {
  width: 100%;
}

.desktop-label {
  display: inline;
  @include respond-down("mobile") {
    display: none;
  }
}

.mobile-label {
  display: none;
  @include respond-down("mobile") {
    display: inline;
  }
}