@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.multi-dropdown {
  position: relative;
  width: 100%;

  &-options {
    background-color: $dropdown-options-bg;
    position: absolute;
    z-index: 10;
    margin-top: $space-xxs;
    width: 100%;
    box-shadow: $shadow;
    font-family: 'Roboto', sans-serif;
  }

  &-item {
    display: flex;
    align-items: center;
    padding: $space-s $space-xs;
    cursor: pointer;

    &:hover {
      color: $text-secondary;
    }

    &-selected {
      &,
      &:hover {
        color: $brand;
      }
    }
  }
}

.view-p16 {
  @include adaptive-font(14, 16);
  @include adaptive-lh(18, 20);
}

.weight-normal {
  font-weight: 400;
}