@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/functions' as f;

.cartContainer {
  display: flex;
  flex-direction: column;
  margin-top: $space-xl;
  margin-bottom: $space-xl;
  gap: $space-l;
  @include container-layout;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $space-m;

  .items {
    display: flex;
    justify-content: space-between;
    gap: $space-xl;
    width: 100%;

    @include respond-down("tablet") {
      flex-direction: column;
    }

    .itemsList {
      width: 100%;
      cursor: pointer;
    }
  }
}



