@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/functions' as f;

.cart-container {
  display: flex;
  flex-direction: column;
  margin-top: $space-xl;
  margin-bottom: $space-xl;
  gap: $space-l;
  @include container-layout;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $space-m;

  .items {
    display: flex;
    justify-content: space-between;
    gap: $space-xl;
    width: 100%;

    @include respond-down("tablet") {
      flex-direction: column;
    }

    .items-list {
      width: 100%;
      cursor: pointer;
    }
  }
}

.loader-wrapper {
  @include container-layout;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

